---
layout: default
---

<div class="pages">
수원대학교 DS&ML센터의 TECH BLOG입니다.<br>

수원대학교 AI/SW developers의 
데이터 분석/인공지능 모델링/소프트웨어 개발에 대한
프로젝트 결과를 전시합니다.
</div>

<div class="posts">
  <h1>포스트</h1>
  {% for post in paginator.posts %}
  <article class="post">

    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="entry">
      {% if post.content contains '<!--more-->' %}

      {{ post.excerpt }}

      {% else %}

      {{ post.excerpt | markdownify | strip_html | truncate: 160 }}

      {% endif %}
    </div>
    

    <div class="read-more">
      {% if post %}
      {% assign authors = post.authors %}
      {% else %}
      {% assign authors = page.authors %}
      {% endif %}
      {% for author in authors %}
        {% if forloop.index == 1 %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{author}}</a>
        {% else %}
        &nbsp;&#183;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{author}}</a>
        {% endif %}
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
      
      <span style="color: #333333; font-weight: normal;">&nbsp;&nbsp;{{ post.date | date: "%B %e, %Y" }}</span>
    </div>

    <!--
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more&nbsp;&#183;{% include read-time.html content=post.content %}</a>
    -->
  </article>
  {% endfor %}

  {% include pagination.html %}
</div>
