---
layout: page
permalink: /personal/
title: Posts of Personal Projects
---

<div id="archives">

  {% assign term_sorted = site.term | sort %}
  {% for term in term_sorted %}
  <div class="archive-group">
    {% capture term_name %}{{ term | first }}{% endcapture %}
    <div id="#{{ term_name | slugify }}"></div>
    <p></p>
      <h3 class="category-head"><i class="fa fa-tags fa-fw" aria-hidden="true"></i>&nbsp;{{ term_name }}</h3>
    <a name="{{ term_name | slugify }}"></a>
    {% for post in site.term[term_name] %}
    <article class="archive-item">
      <ul>
	<li><h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4></li>
      </ul>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>
